@tailwind base;
@tailwind components;
@tailwind utilities;

/* small global styles for Theme A */
:root{
  --bg:#f8fafc;
  --card:#ffffff;
  --muted:#6b7280;
}
body {
  background: var(--bg);
  color: #0f172a;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
